<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Vue To Do List</title>
</head>
<body>
    
    <!-- app VUE  -->
    <div id="myApp" class="main">

        <h1>TODO List</h1>

        <!-- salva il testo con v-model  -->
        <div class="input-cont">
            <input type="text" placeholder="Inserisci un nuovo elemento." v-model="newTask.text" @keyup.enter="addItem">
            <button @click="addItem">Aggiungi</button>
        </div>

        <!-- se la lista è vuota mostra un messaggio -->
        <div class="task-cont">
            <div v-if="tasks.length === 0">
                Non hai più niente da fare, complimenti!
            </div>
            <ul v-else>
                <!-- stampa tutte le task nell'array di oggetti -->
                <li v-for="task, i in tasks" :key="i" :class="i % 2 === 0 ? 'back-blue' : '' ">
                    <!-- se cliccato appare la riga sul testo  -->
                    <span @click="doneItem(i)" class="list-item" :class="task.done === true ? 'crossed' : '' ">{{task.text}}</span>
                    <!-- se cliccato cancella il task  -->
                    <span class="delete" @click="removeItem(i)">&Cross;</span>
                </li>
            </ul>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="script.js"></script>
</body>
</html>