<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Vue To Do List</title>
</head>
<body>
    
    <!-- app VUE  -->
    <div id="myApp">

        <!-- salva il testo con v-model  -->
        <input type="text" placeholder="Inserisci un nuovo elemento." v-model="newTask.text" @keyup.enter="addItem">
        <button @click="addItem">Aggiungi elemento</button>

        <!-- se la lista è vuota mostra un messaggio -->
        <div v-if="tasks.length === 0">
            Non hai più niente da fare, complimenti!
        </div>
        <ul v-else>
            <!-- stampa tutte le task nell'array di oggetti -->
            <li v-for="task, i in tasks" :key="i">
                <!-- se cliccato cancella il task  -->
                <span class="delete" @click="removeItem(i)">&cross;</span>
                <!-- se cliccato appare la riga sul testo  -->
                <span @click="doneItem(i)" :class="task.done === true ? 'crossed' : '' ">{{task.text}}</span>
            </li>
        </ul>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="script.js"></script>
</body>
</html>